.parent-div{
    display: flex;
    background-color: rgb(236, 238, 242);
}
.player-div1{
    border-radius: 30px;
    margin: 2% 4% 3% 15%;
    background-color: rgb(22, 28, 39);
    color: white;
    width: 22%;
    padding: 1%;
    height: 95vh;
}
.player-div2{
    border-radius: 30px;
    padding: 1%;
    margin-top: 4%; 
    margin-bottom: 2%;
    background-color: rgb(22, 28, 39);
    color: white;
    width: 22%;
    height: 100vh;
}
.mid-div{
    margin-top: 4%;
}
.img-div{
    box-shadow: 0 4px 15px 0 rgba(240,240,240,0.6);
    transition: 0.3s;
    background-color: rgb(240, 240,240);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: 12%;
}
span.home-icon{
    box-shadow: 0 8px 16px 0 rgba(240,240,240,0.8);
}
.img-div:hover {
    box-shadow: 0 8px 16px 0 rgba(240,240,240,0.8);
  }
.img-div img{
    border-radius: 15px;
}
.image-main-div{
    display: flex;
    padding: 1%;
}
.image-main-div img{
    border-radius: 12px;
}
button.play-btn{
    padding: 6px 32px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(240,240,240,0.6);
    transition: 0.3s;
}
button.shuffle-btn{
    padding: 6px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(240,240,240,0.6);
    transition: 0.3s;
}
